[submodule "third_party/zed"]
	path = third_party/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
[submodule "third_party/rquickjs"]
	path = third_party/rquickjs
	url = https://github.com/DelSkayn/rquickjs.git
	shallow = true
[submodule "third_party/vue"]
	path = third_party/vue
	url = https://github.com/vuejs/core.git
	shallow = true
[submodule "third_party/vite"]
	path = third_party/vite
	url = https://github.com/vitejs/vite.git
	shallow = true
[submodule "specs/whatwg/html"]
	path = specs/whatwg/html
	url = https://github.com/whatwg/html.git
	shallow = true
[submodule "specs/whatwg/dom"]
	path = specs/whatwg/dom
	url = https://github.com/whatwg/dom.git
	shallow = true
[submodule "specs/w3c/uievents"]
	path = specs/w3c/uievents
	url = https://github.com/w3c/uievents.git
	shallow = true
[submodule "specs/w3c/csswg-drafts"]
	path = specs/w3c/csswg-drafts
	url = https://github.com/w3c/csswg-drafts.git
	shallow = true
[submodule "specs/w3c/pointerevents"]
	path = specs/w3c/pointerevents
	url = https://github.com/w3c/pointerevents.git
	shallow = true
[submodule "specs/w3c/input-events"]
	path = specs/w3c/input-events
	url = https://github.com/w3c/input-events.git
	shallow = true
[submodule "specs/w3c/uievents-key"]
	path = specs/w3c/uievents-key
	url = https://github.com/w3c/uievents-key.git
	shallow = true
[submodule "specs/w3c/uievents-code"]
	path = specs/w3c/uievents-code
	url = https://github.com/w3c/uievents-code.git
	shallow = true
[submodule "specs/w3c/clipboard-apis"]
	path = specs/w3c/clipboard-apis
	url = https://github.com/w3c/clipboard-apis.git
	shallow = true
[submodule "specs/w3c/pointerlock"]
	path = specs/w3c/pointerlock
	url = https://github.com/w3c/pointerlock.git
	shallow = true
